<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-samsungknoxsso" version="0.1.0">
    <name>Samsung-Knox-SSO-Plugin</name>
    <description>Cordova Samsung Knox SSO Plugin</description>
    <license>None (yet)</license>
    <keywords>cordova,samsung,knox,sso,single-sign-on</keywords>
    <js-module src="www/samsungknoxsso.js" name="samsungknoxsso">
        <clobbers target="cordova.plugins.samsungknoxsso" />
    </js-module>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="SamsungKnoxSSO">
				<param name="android-package" value="org.apache.cordova.plugin.SamsungKnoxSSO"/>
			</feature>
		</config-file>
		<source-file src="src/android/SamsungKnoxSSO.java" target-dir="src/org/apache/cordova/plugin/" />
		<framework src="src/android/SamsungKnoxSSO.gradle" custom="true" type="gradleReference" />
		<resource-file src="jar/samsungssoauth.jar" target="jar/samsungssoauth.jar" />
	</platform>
</plugin>
